<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style_cont_cad.css">
    <title>Confirmação de Cadastro</title>
</head>
<div class= "container">
    <h1><img src="/img/logo_pokemon.png" alt="Logo Pokemon" width ="500px" height = "227px"></h1>
</div>
<body>
    <p>Parabéns você finalizou o cadastro!</p>
    <footer>
        <p>Todos os direitos reservados Fredy_Lima® 2021</p>
    </footer>
</body>
</html>