<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style_index.css">
    <title>Pokemon</title>
</head>
<body>
    <header>
            <% if(mensagem != "") { %>
                <section id="mensagem">
                    <p><%= mensagem %></p> <span id="close">&times;</span>
                </section>
            <% } %>
    </header>

    <h1><img src="/img/logo_pokemon.png" alt="Logo Pokemon" width ="500px" height = "227px"></h1>
    
    <section class= "container">
        <section class= "imagem_index">  
            <a href="/cadastro" id= "muda_pag"><img src="/img/Pikachu_muda_pag.png" alt="Pikachu com um balão dizendo PIKA! PIKA! PIKA! TEM MAIS COISA POR AQUI! CLICA EM MIM PARA MUDARMOS DE PÁGINA! PIKA! CHU!" width ="580px" height = "415px"></a>
        </section>
        <section class="pokemon">
        <ul>
            <form action="/detalhes" method="get">
                <% pokedex.forEach(item => { %></br></br>
                    <a href="/detalhes/<%= pokedex.indexOf(item) %>" id = "botao_poke">
                        <%= item.nome %>
                    </a></br></br>
                    <img src = <%= item.img %> height="150px">
                <% }) %>
            </form>
            </ul>
        </section>
    </section>
    
    <script type="text/javascript" src="./js/script.js"></script> 
</body>
<footer>
    <p>Todos os direitos reservados Fredy_Lima® 2021</p>
</footer>
</html>
