h1{
    margin-left: 650px;
    margin-top: 0px;
}
body{
    background-color: red;
    background-image: url("../img/Picachu.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
label {
    color: rgb(233, 211, 17);
    margin-left: 300px;
    font-style: normal;
    font-display: sans-serif;
    text-shadow: 3px 2px rgb(4, 0, 255);
    font-size: 45px;

}
input [type=text]{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #000dc8;
    -moz-box-shadow: 1px 1px 2px #000dc8;
    -webkit-box-shadow: 1px 1px 2px #000dc8;
    background: #f8e802; 
    border:1px solid #fbff05;
    width:150px;
}
textarea{
    border: 1px solid #000000;
    background:#1100ff;
    width:150px;
    height:100px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #000dc8;
    -moz-box-shadow: 1px 1px 2px #000dc8;
    -webkit-box-shadow: 1px 1px 2px #000dc8;
}
input[type=text]:hover, textarea:hover{
    background: #ffee00;
    border:1px solid #0400ff;
}
input[type=submit]{
    background:#006699;
    color:#ffffff;
    }
button{
    margin-left:700px;
}

/*Class chama com .(ponto)*/

/*ID chama com #(hashtag)*/
/*colocar esses elementos em flexbox e reconfigurar*/


.container{
    display: flex;
    flex-flow: column wrap;
    justify-content:right;
}

