header{
    color:blueviolet;
    position: absolute;
}
h1{
    margin-left: 0px;
    margin-top: 0px;
}
body{
    background-image: url("../img/Lugia&Fenix.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
a{
    cursor: pointer;
    border: 10px;
}

/*Class chama com .(ponto)*/
.container{
    position:relative;
    z-index: 0;
    display: flex;
    align-items: flex-start;
    gap: 0px;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-flow: column wrap;
}
.imagem_index{
    position:absolute;
    z-index: 1;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1190px;
}
.pokemon{
    position:start;
    z-index: 2;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}




/*ID chama com #(hashtag)*/
#pokedex{
    margin-left: 0px; /*535*/
    padding-bottom: 0px;
}
#muda_pag{
    margin-left: 0px; /*980*/
    margin-top: 0px;
    padding-top: 0px;
}
#muda_pag{
    background: none;
    cursor: pointer;
    width: 580px;
    height: 415px;
    border: none;
}

section#mensagem {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}
#botao_poke{
    border: 4px solid;
    border-radius: 25px;
    padding: 5px;
    font-size: medium;
    background-color: rgb(233, 211, 17);
    border-color: rgb(4, 0, 255);
}